<h1>שלום {{ user }}</h1>
<mat-tab-group
  animationDuration="0ms"
  mat-stretch-tabs
  class="example-stretched-tabs"
>
    <mat-tab label="משימות להיום">
      <h1>היום</h1>
      <app-projects
        [listType]="date"
        [listName]="newDate('today')"
      ></app-projects>
    </mat-tab>

  <mat-tab label="תוכנית שבועית">
    <h1>תוכנית לשבוע הקרוב</h1>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        *ngFor="let date of dates; let i = index"
        [expanded]="day === i"
        (opened)="setDay(i, date.date)"
        hideToggle="false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ date.day }} - {{ date.date.month }} /
            {{ date.date.day }}</mat-panel-title
          >
          <mat-panel-description>
            {{ date.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <button (click)='open=!open'></button> -->
        <app-projects
          [listType]="date"
          [listName]="newDate(date.date)"
        ></app-projects>

        <mat-action-row>
          <button mat-button color="primary" (click)="prevDay()">
            {{ days[i - 1] }}
          </button>

          <button mat-button color="primary" (click)="nextDay()">
            {{ days[i + 1] }}
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="משימות פתוחות"> </mat-tab>
  <mat-tab label="כל המשימות"> </mat-tab>
</mat-tab-group>
