<!-- <div class="main">
       <button mat-menu-item (click)="setProfile()">
      <mat-icon>settings</mat-icon>
      <span>עריכת פרופיל </span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>meeting_room</mat-icon>
      <span>יציאה </span>
    </button>
<input type="file" value="העלה תמונה" (change)="uploadImage($event)"/>
<button (click)="onUpload()">Upload!</button>
</div> -->
<div class="wrapper">
  <h2>Angular Image Upload Demo</h2>

  <div class="file-upload">
    <input type="file" name="image" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
    <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      Upload
    </button>
  </div>

</div>
