<div class="main">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon>settings</mat-icon>
    <span>עריכת פרופיל </span>
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>meeting_room</mat-icon>
    <span>יציאה </span>
  </button>
</div>
<!-- <form *ngIf="isOpen" [formGroup]="signUpForm">
  <div class="signup-container">
    <div class="left-container">
      <h1>
        <i class="fas fa-paw"></i>
        שלום
        {{ user.username }}
      </h1>
      <div class="puppy">
        <img src="assets/img/female.jpg" />
      </div>
    </div>
    <div class="right-container">
      <header>
        <div class="set">
          <div class="pets-name">
            <label for="pets-name">שם</label>
            <input id="pets-name" placeholder="שם העובד" type="text" />
          </div>
          <div class="pets-photo">
            <button id="pets-upload" (click)="signUp()">
              <i class="fas fa-camera-retro"></i>
            </button>
            <label for="pets-upload">Upload a photo</label>
          </div>
        </div>
        <div class="set">
          <div class="pets-birthday">
            <label for="pets-birthday">Birthday</label>
            <input id="pets-birthday" placeholder="MM/DD/YYYY" type="text" />
          </div>
        </div>
        <div class="set">
          <div class="pets-gender">
            <label for="pet-gender-female">מגדר</label>
            <div class="radio-container">
              <input
                checked=""
                id="pet-gender-female"
                name="pet-gender"
                type="radio"
                value="female"
              />
              <label for="pet-gender-female">אישה</label>
              <input
                id="pet-gender-male"
                name="pet-gender"
                type="radio"
                value="male"
              />
              <label for="pet-gender-male">גבר</label>
            </div>
          </div>
        </div>
      </header>
      <footer>
        <div class="set">
          <button id="back">Back</button>
          <button id="next">Next</button>
        </div>
      </footer>
    </div>
  </div>
</form>   -->