<h1 mat-dialog-title> {{user}} שלום </h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="addEmployeeForm">
        <mat-form-field class="example-full-width">
            <mat-label>הכנס שם עובד</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>תפקיד</mat-label>
                <mat-select [(value)]="selected" formControlName="role">
                    <mat-option value={{role._id}} *ngFor="let role of rolesList">
                      {{role.description}}
                    </mat-option>
                </mat-select>
        </mat-form-field> 
        <mat-form-field class="example-full-width">
            <mat-label>מייל עובד</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button (click)="onNoClick()" >בטול</button>
    <button mat-button mat-dialog-close cdkFocusInitial mat-raised-button [disabled]="!(addEmployeeForm.valid)" (click)="createUser()">הוספה</button>
</div>