.example-spacer {
  flex: 1 1 auto;
}
.search-input {
  max-width: height 10px;
}
mat-toolbar {
  width:85%;
  background-image:linear-gradient(to right,#5154A4,#ED1E6D);
  float:right;
  /* display: inline; */
}


.toolBar {
  margin-bottom: 20px;
  height: 5%;
  display: inline;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.search {
  font-size: 14px;
  text-align: right;
  color: white;
}
.space {
  height: 20cm;
  background-color: salmon;
}
.fas {
 color: white;
}
/* mat-menu {
  direction: rtl;
  text-align: left;
  margin-right: 0%;
} */
img{
  float: left;
  margin-left:0px;
  width:15%;
 
}
.img{
  margin:auto;

}
.profileImage{
  height: 35px;
  width: 35px;
border-radius: 30px;
}