@import "~@fortawesome/fontawesome-free/css/all.css";
:root {
  --blue: rgb(23, 43, 77);
  --pink: #ed1e6d;
  --perple: #5154a4;
  --gradientRight: linear-gradient(to right, #ed1e6d, #5154a4);
  --gradientLeft: linear-gradient(to left, #ed1e6d, #5154a4);
  --animationSpeed: 0.25s;
}
/* html, body { height: 100%; } */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  direction: rtl;
  text-align: right;
  font-family: heebo;
  overflow: scroll;
  /* padding-top: 5%;
      overflow: hidden; */
}
.allPage {
  direction: rtl;
}
*:focus {
  border: none;
}

/* background-color: #3e978b; */
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
h2.title {
  margin-bottom: -10px;
  z-index: 4;
  color: var(--blue);
}

.example-sidenav {
  padding: 20px;
}
button {
  padding-left: 2px;
  padding-right: 2px;
}
mat-form-field {
  direction: rtl;
  font-size: 14px;
  text-align: right;
}
mat-icon {
  cursor: pointer;
}
.mat-expansion-indicator::after {
  color: #f3c623;
}
mat-form-field {
  direction: rtl;
  font-size: 14px;
  text-align: right;
}
mat-dialog-actions {
  direction: rtl;
}
.mat-option-text,
.mat-chip-list-stacked {
  text-align: right;
 
}
.prioriry .mat-option-text{
  display: flex  !important;
  justify-content :space-between !important;
}
.mat-form-field .mat-input-element .mat-form-field-invalid {
  text-align: right;
  direction: rtl;
  color: green;
}
.none {
  background-color: white;
}
.week {
  background-color: lightyellow;
}
.today {
  background-color: #f3c623;
}
.mat-h1,
.mat-headline,
.mat-typography h1 {
  font-family: heebo;
}
.mat-form-field {
  /* direction: rtl; */
  text-align: right !important;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.mat-expansion-panel-header {
  direction: rtl;
}
.screen {
  overflow: overlay;
  height: calc(100vh - 62px);
  width: calc(100% - 398px);
  background-color: rgb(255, 255, 255);
  margin-right: 231px;
  z-index: 999;
  margin-top: 55px;
  position: fixed;
  padding: 30px 30px 0px;
  border-radius: 5px;
  box-shadow: 0 3px 20px 1px rgb(0 0 0 / 10%);
  }

.mat-tab-header,
.sticky-title {
  z-index: 999 !important;
  position: fixed !important;
  width: 72%;
  top: 55px;
  padding: 20px 20px 0px 20px;
  right: 234px;
  background-color: white;
  border-radius: 5px;

}

.mat-step-icon .mat-icon {
  text-align: center;
  direction: rtl;
}
.horizonal-hr {
  border-left: 1px solid #f8f0f0;
  height: 29px;
  margin: 12px 7px 0px 7px;
}
.no-task {
  text-align: center;
  margin-top: 30px;
}
.no-task .material-icons {
  margin-bottom: 10px;
}
.red{
  fill:rgb(236, 25, 10);}
.green{
  fill: rgb(26, 196, 26); 
}
.purple{
  fill:rgb(116, 23, 116);
}
.orange{
 fill:rgb(235, 137, 9);
}
svg{ outline:none !important;}
.prioriry svg{align-self: center;}
