 .menu{
    width: 20%;
    height: 95%;
    padding-left: 5px;
    display: inline-block;
    margin-top: 20px;
   }
    mat-expansion-panel{
      background-color:rgba(252, 247, 247, 0.863);
  
    }
    .example-sidenav-content {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
          ;
    }        .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
      color: #f3c623;
  }