<form [formGroup]="projectForm">

    <mat-form-field appearance="fill">
        <mat-label>בחר לקוח</mat-label>
        <mat-select [(value)]="clientName" formControlName="client" >
          <mat-option value={{client.clientName}} *ngFor="let client of clientList">
            {{client.clientName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  

    <mat-form-field class="example-full-width">
        <mat-label> שם פרויקט</mat-label>
        <input matInput formControlName="projectName" placeholder="הכנס שם פרויקט" #projectName  (keyup)="checkProjectName(projectName.value)">
        <div *ngIf="projectForm.controls['projectName'].errors?.projectNameError">
            {{projectError}}</div>
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <input matInput formControlName="startDate" type="date">
    </mat-form-field>


    <div mat-dialog-actions>
        <button mat-button mat-raised-button (click)="onNoClick()">בטול</button>
        <button mat-button mat-dialog-close cdkFocusInitial mat-raised-button [disabled]="!(projectForm.valid)"
            (click)="addProject(projectName.value)">הוספה</button>
    </div>
</form>