.projects {
  margin: 4px 4px 4px 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-end;
}
.projects button {
  display: block;
  margin: 4px 4px 4px 4px;
  float: 1 auto;
}
mat-selection-list {
  display: inline-block;
}
.dates mat-label {
  /* לא עובד-מקבל את הערך הזה אבל לא תופס בלוק */
  
  margin: 4px 4px 4px 4px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  background: #22245ddb;
  z-index: 1;
    text-align: center;
    border-color: unset;
    border: unset;
    border-radius: 3px;
  position: relative;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 2px 3px 4px 1.5px #000000b3
}
.drop {
  height: 30px;
  width: 30px;
  font-size: 14px;
}
mat-grid-tile > ::ng-deep .mat-figure {
  justify-content: flex-start;
  align-items: flex-start;
}
.list {
  /* overflow: scroll; */
  /* height: 100%; */
  /* display: flex;
  flex-direction: column; */
  overflow-y: scroll; 
  overflow-x:hidden;
 height: 100%;
   width: 100%; 
  /* display: block; */ 
  border-radius: 4px;
  direction: rtl;
  /* overflow: hidden; */
}
.projects button {
  color: white;
  box-sizing: border-box;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  font-family: heebo;
}
.none{
  background-color: white;
}
.השבוע{
  background-color: lightyellow;
}
.היום{
  background-color: #f3c623;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-expansion-panel-header {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.mat-expansion-indicator::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
}
.mat-body, .mat-body-1, .mat-typography {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}
mat-action-row{
  display:flex;
  justify-content: space-between;
}
/* ----------------- */
carousel-wrapper {
  overflow: hidden;
}
.carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 600px;
}
.carousel-inner {
  display: flex;
}
/* .item {
  background-color: rgb(87, 23, 23);
} */
/* ----------------------------------------------------------------   */
 ul { 
  list-style: none;
  margin: 0;
  padding: 0;
  width: 6000px;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
}

