.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  float: right;
  margin-left:10px;
}

.drag {
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  cursor: move;
  background: #22245ddb;
  z-index: 1;
  text-align: center;
  border-color: unset;
  border: unset;
  border-radius: 3px;
  position: relative;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 2px 3px 4px 1.5px #000000b3;
  color: white;
  box-sizing: border-box;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  font-family: heebo;
  margin: 4px 4px 4px 4px;
  /* float: 1 auto; */
}
mat-selection-list {
  display: inline-block;
}
.dates mat-label {
  margin: 4px 4px 4px 4px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop {
  height: 30px;
  width: 30px;
  font-size: 14px;
}
mat-grid-tile > ::ng-deep .mat-figure {
  justify-content: flex-start;
  align-items: flex-start;
}
.list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  direction: rtl;
  float: left;
}

.none {
  background-color: white;
}
.השבוע {
  background-color: lightyellow;
}
.היום {
  background-color: #f3c623;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

mat-action-row {
  display: flex;
  justify-content: space-between;
}
/* ----------------- */
carousel-wrapper {
  overflow: hidden;
}
.carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 600px;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  justify-content:center;
}
hr {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    #ed1e6d,
    #5154a4,
    rgba(0, 0, 0, 0)
  );
  width: 97%;
  height: 1px;
  margin: auto;
  margin-top: -11px;
  margin-bottom: 30px;
}
.users {
  height: 30px;
  width: 350px;
  background-color: #b9bae2;
  float: left;
}

/* ngb-carousel {
  outline: none;
} */
/* 
 */
/* 
.slider {
  width: 80%;
  text-align: center;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
}


.slides > p {
  scroll-snap-align: start;
  flex-shrink: 0;
  /* width: 300px; */
  /* height: 50px;
  margin-right: 50px; */
  /* border-radius: 10px; */
  /* background: #eee; */
  /* transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex; */
  /* justify-content: center; */
  /* align-items: center;
  font-size: 50px;
} */

/* .author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
} */

/* .slider > div { */
  /* display: inline-flex; */ 
  /* width: 4.5rem; */
  /* height: 3.5rem; */
  /* background: white; */
  /* text-decoration: none; */
  /* align-items: center; */
  /* justify-content: center; */
  /* border-radius: 50%; */
  /* margin: 0 0 0.5rem 0;
  position: relative;

} */
/* .slider > div:active {
  top: 1px;
} */
/* .slider > div:focus {
  background: #000;
} */
/* .left{ */
  /* float: left; */
  /* left:0;
} */
/* .right{ */
  /* float: right */
  /* right:0;
  margin-left:auto ;
} */
/* .right p,.left p{
  text-align: center;
}
.arrows{
  width: 18%;
  margin:auto  !important;
  display: flex;
  justify-content: center;
} */


table.t-dates{
  width: 250px;
  min-width: 400px;
  position: relative;
  border-collapse: collapse;
  margin: 10px;
}
table.t-dates tbody{
height:200px;
overflow:auto;}
table.t-dates th{
  text-align:center;
  position: sticky;
  top: 0;
}
table.t-dates td{
border: none;
border-bottom: solid 2px transparent;
background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) ), linear-gradient(to right, #5154a4, #ed1e6d);
background-origin: border-box;
box-shadow: 2px 1000px 1px #fff inset;
min-height: 36px;
}

table.t-dates .td-date{
border-left: solid 2px transparent;
width:50%;
min-height: 36px;

}
table.t-dates .td-projects{
  width:50%;
}
.select-emp{
display: block;
padding: 0 130px;
}
.close-alert{
  cursor: pointer;
  float: left;
  margin: 2px 0 0 19px;
  font-size: 27px;
  line-height: 34px;
}
#alert{
  background-color: rgba(255,255,255,.85);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
  border-radius: .25rem;
  width: 59%;
  margin: auto auto 20px;
  padding: 1px;  
}
#alert p{
  font-size: 15px;
  line-height: 34px;
  margin: 0 6px 0 0;
}
table.t-dates.next{
float: left;
}
table.t-dates tr{ 
  height: 60px;
}
.content{
display: flex;
}
.title-content{
  display: flex;
  justify-content: space-around;
}
.title-content div{
font-weight: 800;
margin:10px 0 20px 10px;
border-bottom: 1px solid black;
}