<div class="toolBar">
   <mat-toolbar>
    <div class="example-sidenav-content">
      <div>
        <button
          mat-icon-button
          (click)="openMenu = !openMenu"
          matTooltip="תפריט"
        >
          <mat-icon><i class="fas fa-bars"></i></mat-icon>
        </button>
      </div>
    </div>
    <button mat-icon-button matTooltip="דף הבית">
      <mat-icon> <i class="fas fa-home"></i></mat-icon>
    </button>
    
    <button
      *ngIf="isManager"
      (click)="openUserDialog()"
      mat-icon-button
      matTooltip="הוספת משתמש"
    >
      <mat-icon><i class="fas fa-user-plus"></i></mat-icon>
    </button>
    <button (click)="openTaskDialog()" mat-icon-button matTooltip="הוספת משימה">
      <mat-icon><i class="fas fa-plus"></i></mat-icon>
    </button>

   <button mat-icon-button (click)="manageWeek()">
    <mat-icon> <i class="fas fa-toilet-paper-slash"></i></mat-icon>
   </button>
    
    <button
      (click)="reports = true"
      *ngIf="
        usersRoles.manager ||
        usersRoles.systemManager ||
        usersRoles.projectManager
      "
      mat-icon-button
      matTooltip="דוחות"
    >
      <mat-icon><i class="fas fa-chart-line"></i></mat-icon>
    </button>

    <button
      *ngIf="isManager"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      matTooltip="תפריט"
    >
      <mat-icon><i class="fas fa-user-shield"></i></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <app-manager></app-manager>
    </mat-menu>
    <span>{{ currentUser }}</span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="profileMenu"
      #menuTrigger
      matTooltip="פרופיל"
    >
    

     <img [src]="src" class="profileImage" >
    </button>

    <mat-menu #profileMenu="matMenu">
      <app-profile></app-profile>
    </mat-menu>
    

   

  </mat-toolbar>
  <img  src="assets/img/2.png" >
  <app-reports *ngIf="reports"></app-reports>
</div>
