<hr >
<div *ngFor="let project of projectList.subprojects">
  <p class="title">{{ project.subprojectName}}</p>


  <div class="taskContainer" >
    <div *ngFor="let task of project.tasks" class="task">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="task.open = true"
            (closed)="task.open = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="taskDetail title">
                 {{task.open}}
                  <p>{{ task.title }}</p>
                </div>
              </mat-panel-title>
              <mat-panel-description *ngIf="!panelOpenState">
                צפייה בפרטי המשימה
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="taskDetail description">
              <h2>תאור</h2>
              <p>{{ task.description }}</p>
            </div>
            <div class="taskDetail status">
              <h2>סטטוס</h2>
              <mat-form-field appearance="fill">
                <mat-label> שנה את סטטוס המשימה</mat-label>
                <mat-select [(value)]="status" [formControl]="status" >
                  <mat-option value={{status.description}} *ngFor="let status of statusList">
                    {{status.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
            </div>
           
            <div class="taskDetail created-by"
              *ngIf="usersRoles.systemManager || usersRoles.manager"
            >
              <h2>עבור</h2>
              <div class="created-by-name">{{ task.userId?.username }}</div>
              <div class="material-icons">user</div>
            </div>
         
            <div class="taskDetail created-by" *ngIf="usersRoles.employee">
              <h2>המשימה נוצרה עבורך ע"י</h2>
              <!-- <div class="float-left"> -->
              <div class="flex">
                <span class="created-by-name float-right">{{
                  task.createdBy?.username
                }}</span>
                <!-- </div> -->
                <!-- <i class="material-icons">user</i> -->
                <div
                  (click)="addComment = !addComment"
                  class="button float-left"
                >
                  החזר ל {{ task.createdBy?.username }} את המשימה
                </div>
              </div>
              <div class="textarea" contenteditable="true" id=""*ngIf="addComment" mat-input >
                <button >אישור</button>
              </div>
            </div>
          
            <div class="taskDetail priority">
              <h2>עדיפות</h2>
              <p>
                {{ task.priority }}
              </p>
            </div>
         
            <div class="taskDetail additionalContent">
              <h2>תוכן נוסף</h2>
              <p>
                {{ task.additionalContent }}
              </p>
            </div>
          
            <div class="taskDetail remark">
              <h2>הערות</h2>
              <p>{{ task.remark }}</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
  </div>
</div>





