body{
    direction: rtl;
   
}
.allPage{
    direction: rtl;
}

.container{
    display: inline-block;
    width:70%;
    height: 60%;
    border:solid 1px yellow;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 5%;
    margin-bottom: 0px;
}
