table {
  width: 100%;
  margin: 1px, 1px, 1px, 1px;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
  direction: rtl;
  text-align: right;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 300px;
}
td,
th {
  width: 22%;
  font-size: 14px;
 border-right: 4px;
  /* margin-right: 10px; */
}
.mat-paginator{
  direction: rtl;
}
.vertical-hr{
  height: 24px;
    border-left: 2px solid black;
    display: inline;
    vertical-align: super;
    margin: 4px;
}
.mat-elevation-z8 {
  padding: 0px 10px;
}
/* .content{
  height: 700px;
} */
.w3-modal-content{
  height: 150px;
  width: 300px;
}
.edit{
  min-height: 350px;
  width: 590px;
  padding: 20px;
}
td:first-child{
  font-weight: 600;
}
.modalContent{
  text-align: center;
  line-height: 50px;
}
.example-button-row{
  display: flex;
  justify-content: space-around;
}