example-form {
   
    width: 60%;
  }
    .example-full-width {
    width: 100%;
  }
  .submit{
    margin: auto;
  }
  mat-form-field{
    text-align: right;
  }
  form{
    border: lightgray solid 2px;
    padding: 20px;
    border-radius: 5px;
  }
  