<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="4" rowspan="4">
    <form class="example-form" [formGroup]="signInForm">
      <mat-form-field class="example-full-width">
        <mat-label>שם משתמש</mat-label>
        <input matInput formControlName="userName" name="username" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label for="password">סיסמה</mat-label>
        <input
          type="password"
          matInput
          formControlName="userPassword"
          name="password"
        />
      </mat-form-field>
      <!-- לשים באמצע -->
      <mat-error *ngIf="isLoginFailed == true">{{ errorMessage }}</mat-error>
      <button
        mat-stroked-button
        color="primary"
        class="submit"
        (click)="signIn()"
      >
        התחבר
      </button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
