<div class="main">
  <button
    class="item"
    mat-menu-item
    (click)="openDialog()"
    *ngIf="usersRoles.systemManager"
  >
    <mat-icon>person_add</mat-icon>
    <span>הוספת לקוח </span>
  </button>
  <button
    class="item"
    mat-menu-item
    (click)="openUserDialog()"
    *ngIf="usersRoles.systemManager || usersRoles.manager"
  >
    <!-- לבדוק למי יש הרשאה להוסיף לקוח -->
    <mat-icon>group_add</mat-icon>
    <span>הוספת משתמש חדש </span>
  </button>
  <button
    class="item"
    mat-menu-item
    (click)="openProjectDialog()"
    *ngIf="
      usersRoles.manager ||
      usersRoles.systemManager ||
      usersRoles.projectManager
    "
  >
    <mat-icon>dvr</mat-icon>
    <span>יצירת פרויקט </span>
  </button>
  <button
    class="item"
    mat-menu-item
    (click)="openSubprojectDialog()"
    *ngIf="
      usersRoles.manager ||
      usersRoles.systemManager ||
      usersRoles.projectManager
    "
  >
    <mat-icon>widgets</mat-icon>
    <span>יצירת תת פרויקט </span>
  </button>
  <button
    class="item"
    mat-menu-item
    (click)="manageWeek()"
    *ngIf="usersRoles.manager || usersRoles.systemManager"
  >
    <mat-icon>date_range</mat-icon>

    <span>ניהול שבוע עבודה</span>
  </button>
  <button
    class="item"
    mat-menu-item
    (click)="manageTable()"
    *ngIf="usersRoles.manager"
  >
    <mat-icon>developer_board</mat-icon>
    <span>ניהול טבלאות משנה</span>
  </button>
</div>
