<div class="main">
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>dialpad</mat-icon>
      <span>יצירת לקוח</span>
    </button>
    <button mat-menu-item>
      <mat-icon>voicemail</mat-icon>
      <span>יצירת משתמש חדש</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>יצירת פרויקט</span>
    </button>
    <button mat-menu-item (click)="openSubprojectDialog()">
      <mat-icon>notifications_on</mat-icon>
      <span >יצירת תת פרויקט</span>
    </button>
</div>
