body{
    direction: rtl;
}
.main {
  direction: rtl;
  margin-right: 0px;
  align-items: right;
}
button{
    direction: rtl;
    align-items: right;
    text-align:right;
}
mat-icon{
    padding-left: 4px;
}
