.taskContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  direction: rtl;
}
.taskDetail {
  width: 100%;
  display: block;
}
.task {
  display: block;
  border: 1px rgb(65, 63, 63) solid;
  box-shadow: 2px 2px 4px lightgray;
  /* TODO לשנות לאחוז */
  width: 400px;
  direction: rtl;
  padding: 19px;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, #5154a4, #ed1e6d);
  background-origin: border-box;
  /* background-clip: content-box, border-box; */
  box-shadow: 2px 1000px 1px #fff inset;
  margin: 10px;
  /* box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%); */
}
.task:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, #ed1e6d, #5154a4);
}
.title {
  font-size: 27px;
  font-weight: 500;
  color:var(--blue);
}

.status {
  height: 32px;
  width: 97px;
}
.description {
  font-size: 16px;
}
.taskDetail h2 {
  font-size: 15px;
  color:var(--blue);
  background-color: #f2f0f0;
  border-radius: 10px;
  padding: 10px;
}
.created-by-name {
  font-size: 14px;
}

.status {
  direction: rtl;
  text-align: right !important;
}
/* .float-right{
float: right;
background-color:blue;

} */
.float-left {
  margin-right: 10px;
}
.flex {
  display: flex;
  justify-content: flex-start;
}
.created-by .button {
    border-radius: 100rem;
  padding: 1rem;
  padding: 3px 7px;
  color: black;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, #5154a4, #ed1e6d);
  background-origin: border-box;
  /* background-clip: content-box, border-box; */
  box-shadow: 2px 1000px 1px #fff inset;
}

.created-by .button:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, #ed1e6d, #5154a4);
}
.mat-expansion-panel-header {
  background: none;
}
.task .mat-expansion-panel-header:hover {
  background: none !important;
}


.task .mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: none !important;
}
