  mat-form-field{
    direction: rtl;
    font-size: 14px;
    text-align: right;
    /* display: block; */
}
form{
  text-align: right;
  direction: rtl;
}
mat-dialog-actions{
    direction: rtl;
}
.example-full-width {
  width: 100%;
}  
mat-option,mat-option{
    direction: rtl;
}
mat-checkbox{
  direction: rtl;
  text-align: right;
  display: block;
}
/* .example-chip-list {
  width: 100%;
} */
.mat-dialog-content{
 max-height: 100%;
 overflow:  hidden !important;
}
mat-action-row{
  justify-content: space-between;
}
.priority{
 padding-top:3px;
}