  mat-form-field{
    direction: rtl;
    font-size: 14px;
    text-align: right;
    display: block;
}

mat-dialog-actions{
    direction: rtl;
}
.example-full-width {
  width: 100%;
}  
mat-option,mat-option{
    direction: rtl;
}
mat-checkbox{
  direction: rtl;
  text-align: right;
  display: block;
}
 