<form [formGroup]="taskForm">
    <mat-form-field appearance="fill">
      <mat-label>בחר לקוח</mat-label>
      <mat-select
        [(value)]="clientName"
        formControlName="client"
        (ngModelChange)="getProjects($event)"
      >
        <mat-option value="{{ client._id }}" *ngFor="let client of clientList">
          {{ client.clientName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
-
    <mat-form-field appearance="fill">
      <mat-label>בחר פרויקט</mat-label>
      <mat-select
        [(value)]="projectName"
        formControlName="projectName"
        (ngModelChange)="getSubprojectList($event)"
      >
        <mat-option
          value="{{ project._id }}"
          *ngFor="let project of projectList"
        >
          {{ project.projectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
-
    <mat-form-field appearance="fill">
      <mat-label>בחר תת פרויקט</mat-label>
      <mat-select [(value)]="subprojectName" formControlName="subprojectName">
        <mat-option
          value="{{ subproject._id }}"
          *ngFor="let subproject of subprojectList"
        >
          {{ subproject.subprojectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>כותרת המשימה</mat-label>
      <input type="text" matInput formControlName="title" placeholder="ex" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>תאור המשימה</mat-label>
      <textarea  matInput formControlName="description" ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>תוכן נוסף</mat-label>
      <textarea
        matInput
        formControlName="additionalContent"
     ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>הערות</mat-label>
      <textarea type="text" matInput formControlName="remark"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>סוג המשימה</mat-label>
      <mat-select [(value)]="taskType" formControlName="taskType">
        <mat-option
          value="{{ taskType.description }}"
          *ngFor="let taskType of taskTypeList"
        >
          {{ taskType.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>סוג התקלה</mat-label>
      <mat-select [(value)]="faultType" formControlName="faultType">
        <mat-option
          value="{{ faultType.description }}"
          *ngFor="let faultType of faultTypeList"
        >
          {{ faultType.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>סטטוס המשימה</mat-label>
      <mat-select [(value)]="status" formControlName="status">
        <mat-option
          value="{{ status.description }}"
          *ngFor="let status of statusList"
        >
          {{ status.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>עדיפות</mat-label>
      <mat-select [(value)]="selected" formControlName="priority">
        <mat-option class="prioriry"
          value="{{ priority.description }}"
          *ngFor="let priority of priorityList"
        >
        <span> {{ priority.description }}</span> 
          <svg data-svgs-path="sm1/priority_flag.svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path [ngClass]="{'red':priority.description=='בהול','orange':priority.description=='דחוף','purple':priority.description=='בינוני','green':priority.description=='איזי'}" fill-rule="nonzero" d="M5 13.777V19.5a.5.5 0 1 1-1 0V5a.5.5 0 0 1 .223-.416C5.313 3.857 6.742 3.5 8.5 3.5c1.113 0 1.92.196 3.658.776C13.796 4.82 14.53 5 15.5 5c1.575 0 2.813-.31 3.723-.916A.5.5 0 0 1 20 4.5V13a.5.5 0 0 1-.223.416c-1.09.727-2.519 1.084-4.277 1.084-1.113 0-1.92-.196-3.658-.776C10.204 13.18 9.47 13 8.5 13c-1.45 0-2.614.262-3.5.777zm0-1.123C5.965 12.216 7.133 12 8.5 12c1.113 0 1.92.196 3.658.776 1.638.545 2.371.724 3.342.724 1.45 0 2.614-.262 3.5-.777V5.346c-.965.438-2.133.654-3.5.654-1.113 0-1.92-.196-3.658-.776C10.204 4.68 9.47 4.5 8.5 4.5c-1.45 0-2.614.262-3.5.777v7.377z"></path>
            </svg>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>עבור עובד</mat-label>
      <mat-select [(value)]="username" formControlName="userId">
        <mat-option value="{{ user._id }}" *ngFor="let user of userList">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

<!-- links -->

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
     הוספת קישור
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>שם הקישור</mat-label>
      <input matInput max="47"  #linkName  formControlName="linkName">
    </mat-form-field>

    <mat-form-field>
      <mat-label >כתובת הקישור</mat-label>
      <input matInput type="text" min="1" #link formControlName="links">
    </mat-form-field>
    <mat-action-row>
      <button mat-button color="primary" (click)="addLinkClose(link,linkName)" [disabled]='link.value==""&&linkName.value!=""||link.value!=""&&linkName.value==""'>סיום</button>
      <button mat-button color="primary" (click)="addLink(link,linkName)" [disabled]="link.value==''&&linkName.value==''">הוספת קישור</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>


<mat-form-field appearance="fill" *ngIf="links.length">
  <mat-chip-list>
<mat-label>קישורים שנוספו</mat-label>

    <mat-chip
      *ngFor="let link of links"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(link)"
    >
      {{ link.name }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
   
  </mat-chip-list>
</mat-form-field>


    <mat-form-field>
      <mat-label>תאריך יעד</mat-label>
      <input matInput formControlName="dueDate" type="date" />
    </mat-form-field>

   </form>
<div mat-dialog-actions>
  <button mat-button mat-raised-button (click)="onNoClick()">בטול</button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    mat-raised-button
    [disabled]="!taskForm.valid"
    (click)="addTask()"
  >
    הוספה
  </button>
</div>
