<form [formGroup]="taskForm">
    <mat-form-field appearance="fill">
      <mat-label>בחר לקוח</mat-label>
      <mat-select
        [(value)]="clientName"
        formControlName="client"
        (ngModelChange)="getProjects($event)"
      >
        <mat-option value="{{ client._id }}" *ngFor="let client of clientList">
          {{ client.clientName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
-
    <mat-form-field appearance="fill">
      <mat-label>בחר פרויקט</mat-label>
      <mat-select
        [(value)]="projectName"
        formControlName="projectName"
        (ngModelChange)="getSubprojectList($event)"
      >
        <mat-option
          value="{{ project._id }}"
          *ngFor="let project of projectList"
        >
          {{ project.projectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
-
    <mat-form-field appearance="fill">
      <mat-label>בחר תת פרויקט</mat-label>
      <mat-select [(value)]="subprojectName" formControlName="subprojectName">
        <mat-option
          value="{{ subproject._id }}"
          *ngFor="let subproject of subprojectList"
        >
          {{ subproject.subprojectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>כותרת המשימה</mat-label>
      <input type="text" matInput formControlName="title" placeholder="ex" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>תאור המשימה</mat-label>
      <textarea  matInput formControlName="description" ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>תוכן נוסף</mat-label>
      <textarea
        matInput
        formControlName="additionalContent"
     ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>הערות</mat-label>
      <textarea type="text" matInput formControlName="remark"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>סוג המשימה</mat-label>
      <mat-select [(value)]="taskType" formControlName="taskType">
        <mat-option
          value="{{ taskType.description }}"
          *ngFor="let taskType of taskTypeList"
        >
          {{ taskType.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>סוג התקלה</mat-label>
      <mat-select [(value)]="faultType" formControlName="faultType">
        <mat-option
          value="{{ faultType.description }}"
          *ngFor="let faultType of faultTypeList"
        >
          {{ faultType.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>סטטוס המשימה</mat-label>
      <mat-select [(value)]="status" formControlName="status">
        <mat-option
          value="{{ status.description }}"
          *ngFor="let status of statusList"
        >
          {{ status.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>עדיפות</mat-label>
      <mat-select [(value)]="selected" formControlName="priority">
        <mat-option
          value="{{ priority.description }}"
          *ngFor="let priority of priorityList"
        >
          {{ priority.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>עבור עובד</mat-label>
      <mat-select [(value)]="username" formControlName="userId">
        <mat-option value="{{ user._id }}" *ngFor="let user of userList">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

<!-- links -->

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
     הוספת קישור
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>שם הקישור</mat-label>
      <input matInput max="47"  #linkName  formControlName="linkName">
    </mat-form-field>

    <mat-form-field>
      <mat-label >כתובת הקישור</mat-label>
      <input matInput type="text" min="1" #link formControlName="links">
    </mat-form-field>
    <mat-action-row>
      <button mat-button color="primary" (click)="addLinkClose(link,linkName)" [disabled]='link.value==""&&linkName.value!=""||link.value!=""&&linkName.value==""'>סיום</button>
      <button mat-button color="primary" (click)="addLink(link,linkName)" [disabled]="link.value==''&&linkName.value==''">הוספת קישור</button>
<label>{{link.value!=""&&linkName.value!=""}}</label>>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>


<mat-form-field appearance="fill" *ngIf="links.length">
  <mat-chip-list>
<mat-label>קישורים שנוספו</mat-label>

    <mat-chip
      *ngFor="let link of links"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(link)"
    >
      {{ link.name }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
   
  </mat-chip-list>
</mat-form-field>


    <mat-form-field>
      <mat-label>תאריך יעד</mat-label>
      <input matInput formControlName="dueDate" type="date" />
    </mat-form-field>

    <mat-checkbox formControlName="clientAccess"> אשר גישה ללקוח </mat-checkbox>
    <mat-checkbox formControlName="sendMail"> אפשר הודעות במייל </mat-checkbox>
</form>
<div mat-dialog-actions>
  <button mat-button mat-raised-button (click)="onNoClick()">בטול</button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    mat-raised-button
    [disabled]="!taskForm.valid"
    (click)="addTask()"
  >
    הוספה
  </button>
</div>
