<form [formGroup]="signUpForm" *ngIf="isActive">
  <mat-vertical-stepper #stepper>
    <mat-step
      [stepControl]="signUpForm"
      state="userName"
      errorMessage="חובה למלא שם."
    >
      <ng-template matStepLabel>שם משתמש</ng-template>
      <mat-form-field class="example-full-width">
        <mat-label>בחר שם משתמש</mat-label>
        <input matInput placeholder="שם משתמש" formControlName="profileName" />
        <mat-error *ngIf="signUpForm.controls['profileName'].errors?.required"
          >* שדה זה נדרש.</mat-error
        >
      </mat-form-field>
      <div class="next">
        <button mat-button matStepperNext class="next">בחר סיסמה</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="signUpForm" state="password">
      <ng-template matStepLabel> סיסמה</ng-template>
      <mat-form-field>
        <mat-label>בחר סיסמה</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="בחר סיסמה"
          #password
          required
        />
      </mat-form-field>
      <div class="next">
        <button mat-button matStepperNext class="next">אימות סיסמה</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="signUpForm" state="verifyPassword">
      <ng-template matStepLabel>אמת סיסמה</ng-template>
      <mat-form-field>
        <mat-label color>חזור על הסיסמה שבחרת</mat-label>
        <input
          matInput
          (keyup)="passwordVerify()"
          formControlName="verifyPassword"
          #verifyPassword
        />
        <mat-error
          *ngIf="
            signUpForm.controls['verifyPassword'].errors?.passwordDismatch !=
            null
          "
          >* {{ passwordError }}.</mat-error
        >
      </mat-form-field>
      <div class="next">
        <button mat-button matStepperNext class="next">תמונת פרופיל</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="signUpForm" state="imageFile">
      <mat-form-field>
        <ng-template matStepLabel> תמונת פרופיל</ng-template>
        <ngx-mat-file-input
          formControlName="imageFile"
          placeholder="בחר תמונה."
          accept="image"
          valuePlaceholder="לא נבחרה עדיין תמונה."
        ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
      <div class="button-row"></div>
     
      <div class="next">
        <button mat-button matStepperNext (click)="signUp()">סיום</button>
      </div>
    </mat-step>
    <mat-step state="done">
      <ng-template matStepLabel>סיום</ng-template>
      <p>.נרשמת בהצלחה למערכת</p>
      <!-- <div>
        <button mat-button (click)="signUp()">סיום</button>
      </div> -->
    </mat-step>

    <ng-template matStepperIcon="userName">
      <mat-icon>account_circle</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="password">
      <mat-icon>https</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="verifyPassword">
      <mat-icon>verified_user</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="imageFile">
      <mat-icon>perm_media</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon> sentiment_satisfied_alt</mat-icon>
    </ng-template>
  </mat-vertical-stepper>
</form>
<div *ngIf="!isActive">
  <img class="logo" src="assets/img/logo.jpg" />
  <h1 style="text-align: center">
    בכדי להשתמש במערכת יש צורך בהזמנה ממנהל או ראש הצוות ניתן לשלוח בקשת הצטרפות
  </h1>
  <hr />
</div>

<form [formGroup]="requstForm" *ngIf="!isActive" id="requestForm">
  <mat-form-field class="example-full-width">
    <mat-label> שם </mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="requstForm.controls['name'].errors?.required"
      >* שדה זה נדרש.</mat-error
    >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>תפקיד</mat-label>
    <mat-select [(value)]="selected" formControlName="role">
      <mat-option value="{{ role._id }}" *ngFor="let role of rolesList">
        {{ role.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="requstForm.controls['role'].errors?.required"
      >* שדה זה נדרש.</mat-error
    >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>כתובת מייל</mat-label>
    <input type="email" matInput formControlName="email" />
    <mat-error *ngIf="requstForm.controls['email'].errors?.required"
      >* שדה זה נדרש.</mat-error
    >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>הודעה</mat-label>
    <textarea type="email" matInput formControlName="massage"></textarea>
    <mat-error *ngIf="requstForm.controls['massage'].errors?.required"
      >* שדה זה נדרש.</mat-error
    >
  </mat-form-field>
  <div class="example-button-row">
    <button
      mat-button
      type="submit"
      mat-button
      mat-raised-button
      [disabled]="!requstForm.valid"
      (click)="submit()"
    >
      שלח
    </button>
  </div>
</form>
